/* Requirements:
- Place the existing `<h1>` and `<p>` inside of a `header` element and add a background-color to that header.
- Create a stylesheet.css file and import it into the index.html file.
- Add a new div with a class name of "info". Inside that div add an `<h2> My name is YOUR NAME </h2>` Add a background-color and a text color of your choice.
- Add an image tag `<img>` and source an image of your main mode of transportation (you car, bus, scooter, bike, feet, etc)
- Add an `<h3>` that explains your mode of transportation. Add a background-color and a text color of your choice.

The style should look something like this (image shown has a little more CSS - feel free to try some new things!)
<img src="./example.png" />

*/

header{
    text-align: center;
    background-color:black;
    padding: 12px 32px;
    font-weight: 300;
    h1 {
        font-weight: 500;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: pink;
}

h1 {
    font-weight: 500;
}

h2 {
    background-color: black;
    color: yellow ;
    text-align: center;

}

h3 {
    background-color: black;
    color: yellow ;
    text-align: center;
}
footer{
    background-color: black;
    color: yellow ;

}
#content {
    max-width: 700px;
    margin: 0 auto; /* center horizontally */
    font-family: cursive;

}